<div class="container">
  <div class="row">
    <%= render 'difficulty' %>
    <%= render 'topic' %>
    <%= render 'status' %>
    <%= render 'count_exercise' %>
    <%= render 'display_exercises', exercise: @exercise %>
  </div>
</div>
